/*Mobile styling*/
@media screen and (max-width: 793px) {
	#banner{
		font-size:37px;
		text-align:center;
	}
	.container_main{
		width:99%;
	}
	#colour_preview{ 
		width:90%;
	}
	nav {
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}
	ul{	
		width:690px;
		overflow-x:scroll;
	}
	li {
		display: inline-block;
	}
}

/*Non-mobile styling*/
@media screen and (min-width: 794px) {
	#banner{
		font-size:50px;
	}
	.container_main{
		width:75%;
	}
	ul{	
		height:50px;
		margin-bottom:60px;
	}
	li{
		display:inline;	
		font-size:20px;		
		display:inline-block;
		border-bottom: 1px #FFFFFF solid;
	}
	#colour_preview{ 
		width:37%;
	}
}

/*Styling for all devices*/
#banner{
		height:80px;
		padding:1%;
		font-family: "Comic Sans MS", cursive, sans-serif;
		border:1px #000 dotted;
		margin-bottom:-10px;
}
ul{
	background-color: #4DB94A;
	vertical-align:middle;
	overflow: hidden;
	list-style-type:none;
}
li{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align:center;
	color:#FFFFFF;	
	padding: 6px 15px 6px 15px;	
}
li:hover{
	cursor:pointer;
	border-bottom: 4px #FFFFFF solid;	
}
a {
	color:inherit;
	text-decoration:none;
}
#canvas_picker{
	border:1px #000 solid;
	margin:auto;
	display:block;
	margin-bottom:20px;
	cursor: crosshair;
	background-color:#FFFFFF;
}
#image_upload_div{  
	margin:auto;
	width:30%;
	margin-bottom:20px;
	text-align:center;
}	
#colour_preview{ 
	margin:auto;
	height:50px;
	border:1px #000 solid;  
	box-shadow:1px 2px 2px #444444;
	background-color:#FFFFFF;
	margin-bottom:20px;
}	
.colour_code{
	margin:auto;
	width:50%;
	margin-bottom:10px;
	text-align:center;
}
.container_main{
	margin:auto;
	background-color:#F7F5F5;	
}
.active {
	border-bottom: 4px #FFFFFF solid;
}